In [1]:
#Import libraries
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
#odi = pd.read_csv(r'C:\Users\pr\OneDrive\Official\Datasets\ODI_Analytics.csv')
odi = pd.read_csv(r'ODI_Analytics.csv')
print(odi.shape)

(55926, 8)

In [4]:
# ODI Data set

odi.head(n=10)

# Domain -sports
# Player's performance in individual matches -runs scored on a particular date in a match
# Granularity => Country, Player, Match Date

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087
1,Afghanistan,Mohammad Shahzad,110.0,99.09,9-1-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008
2,Afghanistan,Mohammad Shahzad,100.0,138.88,8-16-2010,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164
3,Afghanistan,Mohammad Shahzad,82.0,75.92,7-10-2010,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153
4,Afghanistan,Mohammad Shahzad,57.0,100.00,7-1-2010,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135
5,Afghanistan,Mohammad Shahzad,55.0,87.30,7-7-2010,Sportpark Westvliet,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3147
6,Afghanistan,Mohammad Shahzad,37.0,80.43,10-9-2010,Gymkhana Club Ground,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=3185
7,Afghanistan,Mohammad Shahzad,34.0,77.27,7-9-2010,Hazelaarweg,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3149
8,Afghanistan,Mohammad Shahzad,20.0,90.90,7-5-2010,VRA Ground,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=3142
9,Afghanistan,Mohammad Shahzad,16.0,57.14,8-30-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3007

In [5]:
#find the data types of column
odi.dtypes

Country       object
Player        object
Runs         float64
ScoreRate    float64
MatchDate     object
Ground        object
Versus        object
URL           object
dtype: object

In [6]:
odi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55926 entries, 0 to 55925
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    55926 non-null  object
 1   Player     55926 non-null  object
 2   Runs       55900 non-null  float64
 3   ScoreRate  55900 non-null  float64
 4   MatchDate  55926 non-null  object
 5   Ground     55926 non-null  object
 6   Versus     55926 non-null  object
 7   URL        55926 non-null  object
dtypes: float64(2), object(6)
memory usage: 3.4+ MB

#Clasiify the columns
 - Dimensions/Categorical - Country, Player, Versus, Ground, Versus 
 - Metrics - Runs , ScoreRate    
 - Location - Country, Ground, Versus
 - Dates - MatchDate
 - Text - URL

In [7]:
# get numeric columns
odi._get_numeric_data().columns

Index(['Runs', 'ScoreRate'], dtype='object')

In [8]:
# numeric columns analysis
odi.describe()

               Runs     ScoreRate
count  55900.000000  55900.000000
mean      22.241413     65.314208
std       25.558363     44.213423
min        0.000000      0.000000
25%        4.000000     37.500000
50%       13.000000     62.660000
75%       32.000000     87.500000
max      200.000000    600.000000

In [9]:
# describes all string columns or factors
odi.describe(include='object')

,Country,Player,MatchDate,Ground,Versus,URL
count,55926,55926,55926,55926,55926,55926
unique,22,1936,2757,178,25,3209
top,India,Sachin R Tendulkar,2-4-2007,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=0753
freq,6634,442,108,3581,7216,22

In [ ]:
odi.head()

### Derived Metrics

In [ ]:
#extract multiple columns from existing columns
# Date -day, month, year, weekday, Quarter, weekday/weekend, hour details - morning ,noon, night

#Convert the object type to datetime object
odi['MatchDate']=pd.to_datetime(odi['MatchDate'],format='%m-%d-%Y')

In [ ]:
odi.MatchDate.head()

In [ ]:
#Extract the columns

odi['year']=odi['MatchDate'].dt.year
odi['month']=odi['MatchDate'].dt.month_name()
odi['day']=odi['MatchDate'].dt.day
odi['weekday'] = odi['MatchDate'].dt.day_name()
odi['season'] = odi['MatchDate'].dt.quarter
print(odi[['MatchDate', 'year','month','day','weekday','season']].head(n=20))

In [ ]:
# Numerical columns can be categoriesed
# Bin them to different ranges
#Runs- Century, Fifty, Duckouts, Missed Century,type_of_run 
odi['Runs'].head()

#odi['Century']=[1 if run>=100 else 0 for run in odi['Runs']]
odi['Century']=odi['Runs'].apply(lambda x: 1 if x>=100 else 0)

#odi['Fifty']=[1 if run>=50 and run<=99 else 0 for run in odi['Runs']]
odi['Fifty']=odi['Runs'].apply(lambda x: 1 if x>=50 and x<=99 else 0)


#odi['Duckouts']=[1 if run==0 else 0 for run in odi['Runs']]
odi['Duckouts']=odi['Runs'].apply(lambda x: 1 if x==0 else 0)


#odi['Missed_Century']=[1 if run>=90 and run<=99 else 0 for run in odi['Runs']]
odi['Missed_Century']=odi['Runs'].apply(lambda x: 1 if x>=90 and x<=99 else 0)

To Tag Quarters Manually

'''
def return_quarter(m):
    if m in ('April','May','June'):
        return 'Q1'
    elif m in ('July','August','September'):
        return 'Q2'
    elif m in ('October','November','December'):
        return 'Q3'
    else:
        return 'Q4'
odi.month.apply(return_quarter)
'''

In [ ]:
#Group by players and find count
pl_per=odi[['Player','Runs','Century','Fifty','Duckouts','Missed_Century']].groupby(['Player']).\
agg('sum')

In [ ]:
#Maximum no of runs
pl_per.sort_values(by='Runs',ascending=False).head(10)

In [ ]:
#player with max Fifties
pl_per.sort_values(by='Fifty',ascending=False).head(10)

In [ ]:
#player with max Duckouts
pl_per.sort_values(by='Duckouts',ascending=False).head(10)

In [ ]:
pl_per.sort_values(by='Missed_Century',ascending=False).head(10)

In [ ]:
odi[['Player','season','Runs','Century','Fifty','Duckouts','Missed_Century']].groupby(['Player','season']).agg('sum')

#### Season wise, year wise analysis

1. For every player from India calculate the season-wise total runs scored bwteen 2006 and 2011
2. For every player from India calculate the year-wise total centuries scored bwteen 2006 and 2011

In [ ]:
odi_india = odi[(odi.year>=2006) & (odi.year<=2011)&(odi.Country=='India')]

In [ ]:
pt = odi_india.pivot_table(index='Player', values='Runs',columns= 'season',
               aggfunc=sum, fill_value=0,margins=True).sort_values(by="All", ascending=False).head(10)[1:]
pt

In [ ]:
plt.figure(figsize=(10, 8))
sns.heatmap(pt.drop('All', axis=1),cmap="YlGnBu", annot=True, fmt = '.4g', cbar=False)

In [ ]:
pt = odi_india.pivot_table(index='Player', values='Century',columns= 'year',
               aggfunc=sum, fill_value=0,margins=True).sort_values(by="All", ascending=False).head(10)[1:]
pt

In [ ]:
plt.figure(figsize=(10, 8))
pt.drop('All', axis=1).plot.bar(stacked=True)

In [ ]:
plt.figure(figsize=(10, 8))
sns.heatmap(pt.drop('All', axis=1),cmap="YlGnBu", annot=True, cbar=False)

#### Count the Number of matches played year wise

In [ ]:
pt = odi_india.pivot_table(index='Player', values='Century',columns= 'year',
               aggfunc=len, fill_value=0,margins=True).sort_values(by="All", ascending=False).head(10)[1:]
pt

In [ ]:
plt.figure(figsize=(10, 8))
sns.heatmap(pt.drop('All', axis=1),cmap="YlGnBu", annot=True, cbar=False)

#### Analysis across all years

In [ ]:
odi_india = odi[(odi.Country=='India')]

In [ ]:
year_bins=[1990,2000,2005]

In [ ]:
np.digitize([1990,1975,2004,1995,2005,2011],bins=year_bins)

In [ ]:
labels={0:'1974-1989',
        1:'1990-1999',
        2:'2000-2004',
        3:'2005 onwards'}

In [ ]:
odi['year_bin']=odi['year'].apply(lambda v:np.digitize(v,bins=year_bins)).replace(labels)
odi['year_bin'].value_counts()

In [ ]:
odi[['year','year_bin']]

In [ ]:
odi_india = odi[(odi.Country=='India')]

In [ ]:
pt = odi_india.pivot_table(index='Ground', values='MatchDate',columns= 'year_bin',
               aggfunc=len, fill_value=0,margins=True).sort_values(by="All", ascending=False).head(10)[1:]
pt

In [ ]:
plt.figure(figsize=(10, 8))
sns.heatmap(pt.drop('All', axis=1),cmap="YlGnBu", annot=True, fmt = '.4g', cbar=False)

### Analysis against Time

In [ ]:
sachin_stat = odi[(odi.Player=='Sachin R Tendulkar')& (odi.year_bin!='1974-1989')]

In [ ]:
sachin_stat.columns

In [ ]:
sachin_stat[['year','Missed_Century']].groupby('year').sum().plot.line(figsize=(14,4))

In [ ]:
sachin_stat[['year','Missed_Century','Century']].groupby('year').sum().plot.line(figsize=(14,4))